<div class="container">
    <div class="row">
        <h4>Add A New Question</h4>

        <form class="form-horizontal">
            <!--Question-->
            <div class="form-group">
                <label for="add-question-value" class="control-label col-xs-2">Question</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="add-question-value" placeholder="Enter question here">
                </div>
            </div>
            
            <!--Question Type-->
            <div class="form-group">
                <label for="add-question-questiontype" class="control-label col-xs-2">Question Type</label>
                <div class="col-xs-6">
                    <select id="add-question-questiontype" class="form-control">
                        <option>Text</option>
                        <option>Image Based</option>
                        <option>Audio Based</option>
                        <option>Video Based</option>
                    </select>
                </div>
            </div>

            <!--Media Clip URL-->
            <div class="form-group">
                <label for="add-question-value" class="control-label col-xs-2">Question</label>
                <div class="col-xs-10">
                    <input type="url" class="form-control" id="add-question-value" placeholder="Enter the Media Clip URL">
                </div>
            </div>

        </form>

    </div>
</div>