<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-body" ng-if="questionLoading">
            <button class="btn btn-lg btn-warning disabled align-middle">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                Loading
            </button>
        </div>
        <div class="panel-body" ng-if="errorOcurred && !questionLoading">
            <label class="label label-danger">
                {{errorMessage}}
            </label>
        </div>
        <div class="panel-body" ng-if="question !== undefined && question !== null && question !== {}">
            <h3>
                {{::question.value}}
                <i class="glyphicon glyphicon-edit" style="margin-left:20px;"></i>
            </h3>
            <small>
                <i class="glyphicon glyphicon-calendar" style="margin-right: 10px;"></i>
                {{::question.lastModifedOn | date:'short'}} /
                {{::question.lastModifiedBy}}
            </small>
            <br />
            <div>
                <h4>Answer</h4>
                <span>{{::question.correctAnswer}}</span>
            </div>
            <br />

            <div class="col-md-6">
                <h4>Question Type</h4>
                <question-type question-type-code="{{question.questionTypeCode}}" only-icon="false">
            </div>
            <div class="col-md-6">
                <h4>Question Type</h4>
                <answer-type answer-type-code="{{question.answerTypeCode}}" only-icon="false">
            </div>

            <br />
            <br />
            <div ng-hide="question.questionTypeCode === 'TXT'" style="margin-top: 35px;">
                <h4>Media Clip</h4>
                <a ng-href="{{question.mediaUrl}}" target="_blank">{{::question.mediaUrl}}</a>
            </div>

            <br />
            <div ng-show="question.answerTypeCode === 'MCQ'">
                <h4>Options</h4>
                <ul>
                    <li ng-repeat="option in question.options">
                        {{::option}}
                    </li>
                </ul>
            </div>

            <br />
            <div>
                <button type="button" class="btn btn-primary" ng-disabled="true" ng-click="editQuestion()">
                    <i class="glyphicon glyphicon-edit"></i>
                    Edit
                </button>
                <button type="button" class="btn btn-primary" ng-disabled="true" ng-click="deleteQuestion()">
                    <i class="glyphicon glyphicon-trash"></i>
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Categories</h3>
        </div>
        <div class="panel-body">
            <div>
                <ul>
                    <li ng-repeat="category in question.categories">
                        <h4>{{category.value}}</h4>
                        <ul>
                            <li ng-repeat="subcategory in getSubCategories(category.code)">
                                {{subcategory.value}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Created By</h3>
        </div>
        <div class="panel-body">
            <span>{{::question.createdBy}} ({{::question.createdOn | date:'short'}})</span>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Tags</h3>
        </div>
        <div class="panel-body">
            <span ng-repeat="tag in question.tags">{{tag}}, </span>
        </div>
    </div>

</div>