<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quest</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/angular-bootstrap/ui-bootstrap-csp.css" />
    <link rel="stylesheet" href="~/lib/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.css" />
    
    <script type="text/javascript">
        try {
            var appInsights = window.appInsights || function (config) {
                function r(config) {
                    t[config] = function () {
                        var i = arguments;
                        t.queue.push(function () { t[config].apply(t, i) })
                    }
                }

                var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f;
                for (s.src = config.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) r("track" + i.pop());
                return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) {
                    var s = f && f(config, r, u, e, o);
                    return s !== !0 && t["_" + i](config, r, u, e, o), s
                }), t
            }({
                instrumentationKey: "@ViewData["AppInsightsInstrumentationKey"]"
            });

            window.appInsights = appInsights;
        } catch (exception) {
            //Gulp the exception
            console.log(exception);
        }
    </script>
</head>
<body ng-app="quest">
    
    <div ui-view>
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="~/lib/angular-messages/angular-messages.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.js"></script>
    <script src="~/lib/adal-angular/dist/adal.min.js"></script>
    <script src="~/lib/adal-angular/dist/adal-angular.min.js"></script>
    
    
    <script src="~/js/app.js"></script>
    <script src="~/js/common/urlConfig.js"></script>
    <script src="~/js/common/proxy.svc.js"></script>
    <script src="~/js/common/paginate.filter.js"></script>
    <script src="~/js/common/pagination.dir.js"></script>
    <script src="~/js/common/sharedContext.svc.js"></script>
    <script src="~/js/common/formElement.dir.js"></script>
    <script src="~/js/common/editText.modal.js"></script>
    <script src="~/js/common/logger/appInsightsLogger.svc.js"></script>

    <script src="~/js/shell/shell.ctrl.js"></script>
    
    <script src="~/js/metadata/DifficultyLevels/level.dir.js"></script>
    <script src="~/js/metadata/DifficultyLevels/difficultyLevels.data.js"></script>
    <script src="~/js/metadata/Categories/categories.data.js"></script>
    <script src="~/js/metadata/AnswerTypes/answerTypes.data.js"></script>
    <script src="~/js/metadata/AnswerTypes/answerType.dir.js"></script>
    <script src="~/js/metadata/QuestionTypes/questionTypes.data.js"></script>
    <script src="~/js/metadata/QuestionTypes/questionTypes.dir.js"></script>
    <script src="~/js/metadata/DifficultyLevels/levelRating.dir.js"></script>

    <script src="~/js/questions/questions.data.js"></script>
    <script src="~/js/questions/questionsCategory.filter.js"></script>
    <script src="~/js/questions/dupQuestion.dir.js"></script>
    <script src="~/js/questions/dupTag.dir.js"></script>
    <script src="~/js/questions/confirmQuestionDeletion.modal.js"></script>
    <script src="~/js/questions/publicQuestions.ctrl.js"></script>
    <script src="~/js/questions/viewQuestion.ctrl.js"></script>
    <script src="~/js/questions/addQuestion.ctrl.js"></script>
    
    <script src="~/js/dashboard/dashboard.ctrl.js"></script>


    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>
</html>